.navStyle {
  min-height: 70px;
  background-color: #252525 !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.nav-link:hover {
  cursor: pointer;
}

.char-selected {
  opacity: 0.7;
}

.character {
  padding: 0;
}

.character-card {
  margin: 15px 5px !important;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.character-card > [id^='selected-'] {
  background-color: #555;
  border-color: #777;
  margin: 0;
  padding: 8px 0;
  display: block;
  width: 100%;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.character-card:hover {
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 2px 8px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

.character-card--game-image {
  max-width: 100%;
}

.character-card--home-image {
  max-width: 250px;
}

.character-card--header {
  text-align: center;
  font-size: 16px;
  padding: 8px 0;
}

.character-card--body {
  padding: 0;
}

.character-card--body__more {
  background-color: #eee;
}

.character-card--body__title {
  color: #000;
}

.character-card--body__read-button {
  background-color: #252525;
  border-color: #444;
  color: #fff;
  padding: 2px 0;
  display: block;
  width: 100%;
  border-radius: 0;
}

.character-card--body__read-button:hover {
  background-color: #333;
  border-color: #444;
  color: #fff;
}

.character-card--body__read-button:active {
  background-color: #333 !important;
  border-color: #444 !important;
}

.character-card--body__read-button:active:focus {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3) !important;
}

.character-card--body__read-button:focus {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.character-card--body__read-button:focus:active {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.character-card--body__choose-button {
  background-color: #252525;
  border-color: #444;
  color: #fff;
  padding: 5px 0;
  display: block;
  width: 100%;
  border-radius: 0;
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}

.character-card--body__choose-button:hover {
  background-color: #333;
  border-color: #444;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
}

.character-card--body__choose-button:active {
  background-color: #333 !important;
  border-color: #444 !important;
}

.character-card--body__choose-button:active:focus {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3) !important;
}

.character-card--body__choose-button:focus {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.character-card--body__choose-button:focus:active {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body {
  margin: 0;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */