@font-face {
	font-family: SortsMillGoudy-Regular;
	src: url('../../fonts/SortsMillGoudy-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: SortsMillGoudy-Italic;
	src: url('../../fonts/SortsMillGoudy-Italic.ttf');
	font-weight: 400;
}
