$white: #fff;
$white-two: #eee;
$black: #000;
$border: #444;

/* Shadow Variables */
$nav-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$card-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 2px 8px 0 rgba(0, 0, 0, 0.08);
$small-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
$big-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

/* Color Theme Variables */
$one: #141c26;
$one-half: #141c2680;
$two: #1e3340;
$three: #28303c;

/* Player colors */
$player1: #a6444c;
$player2: #8096c4;
