@import '../utilities/variables';

.char-selected {
	opacity: 0.7;
}

.character {
	padding: 0;
	&-card {
		margin: 15px 5px !important;
		transition: 0.5s ease;
		> [id^='selected-'] {
			background-color: #555;
			border-color: #777;
			margin: 0;
			padding: 8px 0;
			display: block;
			width: 100%;
			font-size: 18px;
			color: #fff;
			text-align: center;
		}
		&:hover {
			box-shadow: $card-shadow;
		}
		&--image {
			width: 100%;
		}
		&--header {
			text-align: center;
			font-size: 16px;
			padding: 8px 0;
		}
		&--body {
			padding: 0;
			&__more {
				background-color: #eee;
			}
			&__title {
				color: #000;
			}
			&__read-button {
				background-color: $main;
				border-color: $main-two;
				color: $white;
				padding: 2px 0;
				display: block;
				width: 100%;
				border-radius: 0;
				&:hover {
					background-color: $main-hover;
					border-color: $main-two;
					color: $white;
				}
				&:active {
					background-color: $main-hover !important;
					border-color: $main-two !important;
					&:focus {
						box-shadow: $big-shadow !important;
					}
				}
				&:focus {
					box-shadow: $big-shadow;
					&:active {
						box-shadow: $big-shadow;
					}
				}
			}
			&__choose-button {
				background-color: $main;
				border-color: $main-two;
				color: $white;
				padding: 5px 0;
				display: block;
				width: 100%;
				border-radius: 0;
				transition: box-shadow 0.2s ease;
				&:hover {
					background-color: $main-hover;
					border-color: $main-two;
					box-shadow: $small-shadow;
					color: $white;
				}
				&:active {
					background-color: $main-hover !important;
					border-color: $main-two !important;
					&:focus {
						box-shadow: $big-shadow !important;
					}
				}
				&:focus {
					box-shadow: $big-shadow;
					&:active {
						box-shadow: $big-shadow;
					}
				}
			}
		}
	}
}
