@import '../utilities/variables';
@import '../utilities/fonts';

.navbar-brand {
	padding: 0;
}

.navStyle {
	min-height: 70px;
	background-color: $one !important;
	font-family: SortsMillGoudy-Regular;
	-webkit-box-shadow: $nav-shadow;
	box-shadow: $nav-shadow;
}
.nav-link {
	font-size: 18px;
	margin: 5px 5px 0 0;
	&:hover {
		cursor: pointer;
	}
}
