@import '../utilities/variables';
@import '../utilities/fonts';

.body-animation {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(90deg, $one 50%, #161e29 50%);
	background-color: rgb(39, 40, 41);
	background-size: 60px 100%;
	animation: sliding 60s linear infinite;
}

@keyframes sliding {
	100% {
		background-position: 100% 100%;
	}
}

#winnerWrapper {
	color: $white;
	margin-top: 15px;
	display: flex;
	justify-content: center;
	text-align: center;
	.winner {
		> h2 {
			font-size: 36px;
		}
		> p {
			color: $white-two;
			font-size: 16px;
		}
		&--image {
			max-width: 250px;
		}
		&--name {
			font-size: 36px;
		}
		&--btn {
			border-radius: 4px;
			padding: 10px 25px;
			color: $black;
			font-weight: bold;
			background: $white;
			border: none;
			transition: all 0.2s ease;
			&:hover {
				background: $white-two;
				color: $black;
				box-shadow: $big-shadow;
			}
			&:active {
				background: $white-two;
				color: $black;
				box-shadow: $small-shadow;
			}
			&:focus {
				box-shadow: none;
			}
		}
	}
	.no-winner {
		margin-top: 50px;
		> h2 {
			font-size: 36px;
		}
		> p {
			color: $white-two;
			font-size: 16px;
		}
		&--btn {
			border-radius: 4px;
			padding: 10px 25px;
			color: $black;
			font-weight: bold;
			background: $white;
			border: none;
			transition: all 0.2s ease;
			&:hover {
				background: $white-two;
				color: $black;
				box-shadow: $big-shadow;
			}
			&:active {
				background: $white-two;
				color: $black;
				box-shadow: $small-shadow;
			}
			&:focus {
				box-shadow: none;
			}
		}
	}
}
